#!/usr/bin/env bash

if [[ $EUID -ne 0 ]]; then
   echo "This script must be run as root."
   exit 1
fi

exec certbot renew \
    --post-hook "{{ script_dir }}/reload_web_config.sh" \
    --config-dir "{{ certbot_dir }}/config" \
    --work-dir "{{ certbot_dir }}/work" \
    --logs-dir "{{ certbot_dir }}/logs"
